<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.bfsi.jpmc.logging">
    <Appenders>
        <UiLogAppender name="UiLogs">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </UiLogAppender>
    </Appenders>

    <Loggers>
        <Logger name="com.bfsi.jpmc" level="info" additivity="false">
            <AppenderRef ref="UiLogs"/>
        </Logger>

        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="UiLogs"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="UiLogs"/>
        </Root>
    </Loggers>
</Configuration>
